body {
  margin: 0 auto;
  padding: 20px;
  background-color: #FCF9E1;
}
header {
  border-bottom: 3px solid black;
  background-image: url(images/art.jpg);
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
  opacity: 0.2;
  color: rgb(0, 9, 9);
}
.gameName {
  text-align: center;
}
h1 {
  font-size: 50px;
}

.socialMedia {
  text-align: center;
  border-bottom: 2px solid black;
  margin: 60px auto;
}
a {
  text-decoration: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.time {
  display: block;
  border-style: solid;
  border: 5px ridge;
  height: 150px;
  width: 150px;
  padding: 10px;
  margin: 15px;
  text-align: center;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
}

.score {
  display: block;
  border-style: solid;
  border: 5px ridge;
  height: 150px;
  width: 150px;
  padding: 10px;
  margin: 15px;
  text-align: center;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
}

.quizBox {
  height: 650px;
  width: 1040px;
  padding: 75px;
  display: inline;
  border-style: solid;
  border: 4px groove;
  padding: 10px;
  margin: 15px;
  text-align: center;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
}
.start {
  display: flex;
  justify-content: center;
}
.startButton {
  background-color: #4caf50;
  border: 6px outset #D2E4A8;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.startButton:hover {
  background-color: green;
}
.resetButton {
  background-color: red;
  border: 6px outset #DE9796;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.resetButton:hover {
  background-color: rgb(151, 100, 100);
}

.submitButton {
  background-color: rgb(73, 133, 55);
  border: 6px outset #D2E4A8;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: rgb(109, 93, 93);
}

.questionBox {
  height: 180px;
  width: 1000px;
  /* padding: 75px; */
  display: flex;
  border-style: solid;
  border: 2px outset;
  padding: 10px;
  margin: 1px auto;
  text-align: center;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 5px;
}
.answerA {
  height: 70px;
  width: 1000px;
  /* padding: 75px; */
  display: flex;
  border-style: solid;
  border: 1px outset;
  padding: 10px;
  margin: 5px auto;
  font-size: 32px;
  font-style: italic;
  font-weight: bold;
}

.answerB {
  height: 70px;
  width: 1000px;
  /* padding: 75px; */
  display: flex;
  border-style: solid;
  border: 1px outset;
  padding: 10px;
  margin: 5px auto;
  font-size: 32px;
  font-style: italic;
  font-weight: bold;
}
.answerC {
  height: 70px;
  width: 1000px;
  /* padding: 75px; */
  display: flex;
  border-style: solid;
  border: 1px outset;
  padding: 10px;
  margin: 5px auto;
  text-align: ;
  font-size: 32px;
  font-style: italic;
  font-weight: bold;
}

.answerD {
  height: 70px;
  width: 1000px;
  /* padding: 75px; */
  display: flex;
  border-style: solid;
  border: 1px outset;
  padding: 10px;
  margin: 5px auto;
  font-size: 32px;
  font-style: italic;
  font-weight: bold;
}

.questionBox{
  font-size: 40px;
  font-weight: bold;
  background-color: #E8FFE4;
}